.table {
  width: 100%;
  table-layout: fixed; /* Fija el ancho de las columnas */
}

.table th, .table td {
  vertical-align: middle; /* Alinea el contenido verticalmente */
  padding: 0.75rem; /* Espaciado interno */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que excede */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
}

.table th {
  background-color: #f8f9fa; /* Color de fondo del encabezado */
  font-weight: 600; /* Texto en negrita */
}
