<div class="app-container">
  <!-- Barra de navegación fija en la parte superior -->
  <div class="navbar">
    <div class="inicio-button">
      <p-button (click)="irAInicio()" label="Ir a Inicio"/>
      <p-button (click)="irAInventario()" label="Ir a Inventario" />
    </div>
  </div>
  <!-- Aquí se carga el componente según la ruta seleccionada -->
  <router-outlet></router-outlet>
</div>

<!-- Estilos -->
<style>
  /* Contenedor principal */
  .app-container {
    font-family: Arial, sans-serif;
    padding: 0;
  }

  /* Barra de navegación fija en la parte superior */
  .navbar {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    height: 100px; /* Altura de la barra de navegación */
  }

  /* Estilo para los botones de navegación */
  .inicio-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }



  /* Ajuste del contenido para que no se oculte detrás de la barra de navegación */
  router-outlet {
    margin-top: 70px; /* Asegúrate de que el contenido no se superponga con la navbar */
  }

  /* Estilos adicionales para el contenido de la página */
  .container {
    text-align: center;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }
</style>
