<div class="container">
  <!-- Tarjeta de Producto -->
  <div class="card">
    <h2>Tarjeta de Producto</h2>
    <app-tarjeta-producto></app-tarjeta-producto>
  </div>

  <!-- Encabezado -->
  <div class="card">
    <h2>Encabezado</h2>
    <app-encabezado></app-encabezado>
  </div>

  <!-- Tareas -->
  <div class="card">
    <h2>Tareas</h2>
    <app-padre-tareas></app-padre-tareas>
  </div>

  <!-- Configuración -->
  <div class="card">
    <h2>Configuración</h2>
    <app-configuracion></app-configuracion>
  </div>

  <!-- Formulario -->
  <div class="card">
    <h2>Formulario</h2>
    <app-padre-formulario></app-padre-formulario>
  </div>

  <!-- Contador -->
  <div class="card">
    <h2>Contador</h2>
    <app-padre-contador></app-padre-contador>
  </div>

  <!-- Carrito -->
  <div class="card">
    <h2>Carrito</h2>
    <app-padre-carrito></app-padre-carrito>
  </div>

  <!-- Video -->
  <div class="card">
    <h2>Video</h2>
    <app-padre-video></app-padre-video>
  </div>

  <!-- Validar Formulario -->
  <div class="card">
    <h2>Validar Formulario</h2>
    <app-padre-validar-formulario></app-padre-validar-formulario>
  </div>

  <!-- Galería de Imágenes -->
  <div class="card">
    <h2>Galería de Imágenes</h2>
    <app-padre-galeria-imagenes></app-padre-galeria-imagenes>
  </div>
</div>
